@{
    ViewData["Title"] = "Business Owner Dashboard";
}

<h2>Business Owner Dashboard</h2>

<ul>
    <li><a asp-controller="BusinessOwner" asp-action="CreateProduct">Create Product</a></li>
    <li><a asp-controller="BusinessOwner" asp-action="StockProduct">Stock Product</a></li>
    <li><a asp-controller="BusinessOwner" asp-action="SeeAllPurchases">See All Purchases</a></li>
    <li><a asp-controller="BusinessOwner" asp-action="SeePurchasesByDate">See Purchases By Date</a></li>
    <li><a asp-controller="BusinessOwner" asp-action="SeePurchasesByName">See Purchases By Name</a></li>
    <li><a asp-controller="BusinessOwner" asp-action="GetProfitOrLossByDate">Get Profit or Loss By Date</a></li>
    <li><a asp-controller="BusinessOwner" asp-action="GetProfitOrLossByProduct">Get Profit or Loss By Product</a></li>
    <li><a asp-controller="BusinessOwner" asp-action="WalletBalance">Wallet Balance</a></li>
</ul>
