@{
    ViewData["Title"] = "Customer Dashboard";
}

<h2>Customer Dashboard</h2>

<ul>
    <li><a asp-controller="Customer" asp-action="PurchaseGoods">Purchase Goods</a></li>
    <li><a asp-controller="Customer" asp-action="AvailableProducts">Check All Available Products</a></li>
    <li><a asp-controller="Customer" asp-action="TopUpWallet">Top Up Wallet</a></li>
    <li><a asp-controller="Customer" asp-action="WalletBalance">Wallet Balance</a></li>
    <li><a asp-controller="Customer" asp-action="PurchaseCart">Check Purchase Cart</a></li>
    <li><a asp-controller="Customer" asp-action="PurchaseHistoryByDate">Check Purchase By Date</a></li>
    <li><a asp-controller="Customer" asp-action="PurchaseHistory">Check Purchases</a></li>
</ul>
